.better
{
	margin-left: 5px;
}

.broncos
{
	background-color: #001F52;
	border: 0px;
	color: #F05523;
}

.colts
{
	background-color: #003A70;
	border: 0px;
	color: #FFFFFF;
}

.dolphins
{
	background-color: #0D6264;
	border: 0px;
	color: #EE4F25;
}

.is
{
	margin-right: 5px;
}

.lions
{
	background-color: #006DB0;
	border: 0px;
	color: #BCC4C9;
}

.myCell
{
	display: table-cell;
}

.myTable
{
	border-radius: 5px;
	display: table;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.patriots
{
	background-color: #0C2340;
	border: 0px;
	color: #A2AAAD;
}

.quarterback
{
	color: black;
}

.site-wrapper
{
	background-image: url("../images/dMarino.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}