.better
{
	margin-left: 5px;
}

.broncos
{
	background-color: #001F52;
	border: 1px solid #F05523;
	color: #FFFFFF;
}

.centerPiece
{
	border-radius: 5px;
	
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 20px;
}

.colts
{
	background-color: #003689;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.dolphins
{
	background-color: #0D6264;
	border: 1px solid #FFFFFF;
	color: #EE4F25;
}

.field
{
	text-align: center;
}

.is
{
	margin-bottom: 0px;
	margin-right: 5px;
}

.lions
{
	background-color: #006DB0;
	border: 1px solid #000000;
	color: #BCC4C9;
}

.patriots
{
	background-color: #0C2340;
	border: 1px solid #FFFFFF;
	color: #A2AAAD;
}

.QB-background
{
	background-image: url("../images/pManning.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	position: fixed;
	
	width: inherit;
	height: inherit;
}

.quarterback
{
	color: black;
	margin: 0px;
	padding: 0px;
}

.sameLine
{
	display: inline
}

.search
{
	position: relative;
}